@import "--var.scss";
@import "--mixing.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
code,
kbd,
pre,
samp,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
span,
div,
a,
button,
strong {
  font-family: "Roboto", sans-serif !important;
}
.des_logo {
  width: 13rem;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: unset !important;
}
.form-control:focus {
  box-shadow: unset !important;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
// nav
.nav_bg {
  background-color: $c1;
}
.logo {
  width: 9rem;
  margin-left: 1rem;
}
.nav_link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 1rem;
  color: white !important;
  transition: all 0.3s;
  &:hover {
    color: $c2 !important;
  }
}
.nav_btn {
  background-color: $c2;
  color: $c1 !important;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 25px;
  padding-left: 18px !important;
  padding-right: 18px !important;
  transition: all 0.3s;
  border: 2px solid transparent;
  margin: 0 1rem;
  &:hover {
    background-color: transparent;
    color: $c2 !important;
    border: 2px solid $c2;
  }
}
.mobile_btn {
  color: white !important;
  border-color: white !important;
}
// nav end
// hero
.hero_bg {
  background-color: $c3;
  padding: 3rem 0;
}
.hero_img {
  @include img_bg;
  height: 35rem;
  width: 37rem;
  margin: auto;
}
.hero_text_top {
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_text_div {
  h3 {
    font-size: 50px;
    font-weight: 550;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 1rem;
    span {
      color: $c2;
    }
  }
  p {
    color: white;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    padding: 0px 80px 0px 0px;
  }
}
.hero_btn {
  background-color: $c2;
  color: $c1 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 550;
  padding: 10px 20px;
  transition: all 0.3s;
  border: 2px solid transparent;
  &:hover {
    background-color: transparent;
    color: $c2 !important;
    border: 2px solid $c2;
  }
}
.hero_btn_2 {
  background-color: transparent;
  color: white !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 550;
  padding: 10px 20px;
  transition: all 0.3s;
  &:hover {
    background-color: transparent;
    color: $c2 !important;
  }
}
// hero end
// section
.section_top {
  margin-top: 2rem;
}
// section end
// Trusted
.trusted_tile_div {
  text-align: center;
  margin-bottom: 3rem;
  h3 {
    color: $c4;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 550;
    letter-spacing: 1px;
  }
}
.trusted_img {
  @include img_bg;
  width: 77%;
  height: 62px;
  margin: auto;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    transform: translateY(-8px);
  }
}
.trusted_img_2 {
  @include img_bg;
  width: 4rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 0.5rem;
}
.trusted_card {
  border-radius: 10px;
  border-bottom: 4px solid $c4;
  padding: 45px 40px 45px 40px;
  margin: 0px 15px 15px 15px;
  text-align: center;
  box-shadow: 1px 3px 45px 8px rgba(70, 72, 150, 0.3);
  transition: all 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  h3 {
    color: $c4;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 1px;
  }
  p {
    margin-bottom: 0;
    color: #666;
    font-size: 15px;
  }
  &:hover {
    border-bottom: 4px solid $c2;
    // transform: translateY(-8px);
  }
}
.trusted_card_top {
  margin-top: 6rem;
}
// Trusted end
// Why Choose Us
.Choose_img_big {
  @include img_bg;
  width: 100%;
  height: 37rem;
  margin: auto;
}
.Choose_title {
  p {
    color: $c5;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  h3 {
    color: $c4;
    font-weight: 550;
    font-size: 31px;
  }
  .Choose_line {
    div {
      height: 3px;
      background: $c2;
      margin-top: 5px;
      margin-bottom: 1rem;
      width: 5rem;
    }
  }
  h6 {
    text-transform: capitalize;
    color: #666;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 2rem;
  }
}
.Choose_img_small {
  @include img_bg;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.Choose_img_small_title {
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    color: $c5;
  }
  p {
    color: #666;
    text-transform: capitalize;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 0;
  }
}
.Choose_top {
  margin-top: 1rem;
}
// Why Choose Us end
// Welcome
.welcome_text {
  p {
    font-size: 16px;
    color: #666;
    text-align: justify;
    text-transform: capitalize;
    margin-bottom: 0;
  }
}
.welcome_img {
  @include img_bg;
  width: 32rem;
  height: 28rem;
  margin: auto;
}
.welcome_btn {
  padding: 1rem 0;
  a {
    background-color: $c2;
    color: $c1 !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 550;
    padding: 10px 20px;
    transition: all 0.3s;
    border: 2px solid transparent;
    &:hover {
      background-color: transparent;
      color: $c5 !important;
      border: 2px solid $c5;
    }
  }
}
// Welcome end
// subscription
.subscription_bg {
  background-color: $c2;
  padding: 3.5rem 0;
}
.subscription_text {
  h3 {
    font-size: 30px;
    color: $c4;
    font-weight: 550;
    letter-spacing: 1px;
  }
  p {
    margin-bottom: 0;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}
.subscription_form {
  display: flex;
  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 3rem;
  }
  button {
    background-color: $c4;
    color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: all 0.3s;
    &:hover {
      color: white;
      background-color: $c3;
    }
  }
}
.subscription_form_div {
  padding-top: 2rem;
}
// subscription end
// video
.video_name {
  h4 {
    font-size: 30px;
    font-family: cursive !important;
    margin-top: 1rem;
    margin-bottom: 0;
    color: $c5;
    font-weight: 550;
    letter-spacing: 1px;
  }
  p {
    color: #666;
    font-size: 16px;
  }
}
.video_bg {
  background-color: #fff0d8;
  padding: 4rem 0;
}
.video {
  width: 100%;
  height: 19rem;
  border-radius: 6px;
}
.video_div {
  background: #3399338c;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid $c5;
  width: 100%;
}
.video_div_top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
// video end
// index faq
.index_faq_div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.index_faq {
  @include img_bg;
  width: 19rem;
  height: 23rem;
}
.faq_img {
  @include img_bg;
  width: 100%;
  height: 33rem;
  margin: auto;
}
.faq_title {
  p {
    color: black;
    font-size: 20px;
  }
  h3 {
    color: black;
    color: #4960e4;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.faq_card {
  margin-bottom: 10px;
  border: none;
  background-color: #f6f8ff;
}
.faq_header {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: $c4;
  a {
    color: white;
    font-size: 16px;
    position: relative;
    &:hover {
      color: white;
    }
  }
}

.faq_body {
  padding: 35px;
  font-size: 15px;
  text-align: justify;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}
#main #faq .card .card-header .btn-header-link {
  display: block;
  text-align: left;
}
#main #faq .card .card-header .btn-header-link:after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f067";
}
// index faq end
// top title
.top_title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  h3 {
    color: $c4;
    font-weight: 550;
    font-size: 35px;
    span {
      color: $c5;
    }
  }
  p {
    color: #666;
    margin-bottom: 0;
    font-size: 14px;
  }
}
// top title end
// footer
.footer_bg {
  background-color: $c1;
}
.footer_top {
  h6 {
    color: white;
  }
  p {
    color: white;
    margin-bottom: 7px;
    i {
      color: $c2;
    }
  }
}
.footer_link {
  font-size: 15px;
  color: white;
  transition: all 0.3s;
  text-transform: capitalize;
  font-weight: 550;
  &:hover {
    color: $c2;
  }
}
.footer_logo {
  img {
    width: 12rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    color: #9198a6;
    text-transform: capitalize;
  }
}
.footer_ul {
  display: flex;
  padding: 0;
  padding-top: 1rem;
  li {
    margin: auto;
    a {
      background-color: $c2;
      border-radius: 5px;
      padding: 8px 16px;
      transition: all 0.3s;
      color: black;
      font-size: 22px;
      &:hover {
        background-color: #ffae00bd;
      }
    }
  }
}
// footer end
// features
.features_img {
  @include img_bg;
  width: 4rem;
  height: 4rem;
}
.features_img_div {
  border: 2px solid #339933;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  h3 {
    color: $c5;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 550;
    padding-top: 0.5rem;
  }
  p {
    color: #666;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 16px;
  }
}
// features end
